.display { 
	display: block;
    position: absolute;
    background-color: #3498db;
    color: white;
	padding: .4vw .4vw;
	top: 0;
	left: 0;
	font-family: 'Rubik One', sans-serif;
	text-decoration: none;
	font-size: 2vw;
    width: 7vw;
  	border: none;
    text-align: center;
}